<div class="large">

  <header>
    <h1>CMD CANVAS |
        <span class="tagline">Tool for personal and professional development</span>
    </h1>
  </header>
<%= form_with(model: @canvas) do |form| %>
  <div class="canvas_form">
    <h1>You can create your own canvas here!</h1>
    <span class="red">Canvas can only be found by its unique URL, if you lose that URL, its gone</span>
    <%= form.text_field :name, placeholder: "Your name please" %>
    <%= form.submit "Create personal canvas", id: "canvas_form_submit" %>
  </div>
<% end %>

</div>