<%= form_with(model: @canvas) do |form| %>
  <div class="canvas_form">
    <h1>You can create your own CMD PPO canvas here!</h1>
    <%= form.text_field :name, placeholder: "Your name please" %>
    <%= form.submit "Create personal canvas", id: "canvas_form_submit" %>
  </div>
<% end %>
