
<style type="text/css">
<!--
span.cls_008{font-family:Arial,serif;font-size:22.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:22.1px;color:rgb(254,255,255);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:32.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:32.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(43,42,41);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none; word-break: break-word;}
div.cls_003{font-family:Arial,serif;font-size:12.1px;color:rgb(43,42,41);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.1px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:21.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:21.0px;color:rgb(254,255,255);font-weight:bold;font-style:normal;text-decoration: none}
-->
</style>

<div style="position:absolute;left:50%;margin-left:-595px;top:0px;width:1190px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<%= image_tag "background1.jpg", :width => "1190", :height => "841" %>
<div style="position:absolute;left:299.43px;top:45.04px" class="cls_008"><span class="cls_008">Ingevuld door: Tjerk Dijkstra</span></div>
<div style="position:absolute;left:68.00px;top:38.11px" class="cls_004"><span class="cls_004">CMD CANVAS</span></div>
<div style="position:absolute;left:67.21px;top:85.89px" class="cls_002"><span class="cls_002">REASON WHY: </span>
<span class="cls_003"><br>
<%= @canvas.reason %>
</span>
</div>
<div style="position:absolute;left:338.00px;top:85.89px" class="cls_002"><span class="cls_002">COMPETENTIE:</span></div>
<div style="position:absolute;left:1008.51px;top:86.12px" class="cls_002"><span class="cls_002">EC’S:</span></div>
<div style="position:absolute;left:335.13px;top:138.38px" class="cls_002"><span class="cls_002">LEERUITKOMST:  </span>
<span class="cls_003">

</span>
</div>
<div style="position:absolute;left:1008.51px;top:137.61px" class="cls_002"><span class="cls_002">NIVEAU: </span><span class="cls_003">N1 / N2 / N3</span></div>

<div style="position:absolute;left:335.13px;top:228.76px" class="cls_002"><span class="cls_002">LEERDOELEN:</span></div>
<div style="position:absolute;left:772.17px;top:228.76px" class="cls_002"><span class="cls_002">FEEDBACK: </span><span class="cls_003">Samenvatting van eerder ontvangen feedback</span></div>

<div style="position:absolute;left:67.21px;top:439.11px" class="cls_002"><span class="cls_002">INSPIRATIE: </span><span class="cls_003">Welke voorbeelden ga je bekijken? Waar en hoe ga je je oriënteren?</span></div>
<div style="position:absolute;left:652.64px;top:439.11px" class="cls_002"><span class="cls_002">PRAKTIJK: </span><span class="cls_003">Wat ga je maken? Denk niet alleen aan eindproducten maar ook prototypes,</span></div>
<div style="position:absolute;left:933.67px;top:453.51px" class="cls_003"><span class="cls_003">experimenten, tussenproducten, etc.</span></div>
<div style="position:absolute;left:571.16px;top:543.49px" class="cls_007"><span class="cls_007">HOW?</span></div>
<div style="position:absolute;left:67.21px;top:565.11px" class="cls_002"><span class="cls_002">ONDERBOUWING: </span><span class="cls_003">Welke bronnen en theorieën ga je bestuderen? Denk aan literatuur,</span></div>
<div style="position:absolute;left:719.83px;top:565.11px" class="cls_002"><span class="cls_002">CONSULTEN en FEEDBACK/-FORWARD: </span><span class="cls_003">Welke experts ga je raadplegen?</span></div>
<div style="position:absolute;left:67.21px;top:579.51px" class="cls_003"><span class="cls_003">vakbladen, documentaires en andere kennisbronnen</span></div>
<div style="position:absolute;left:67.00px;top:692.56px" class="cls_002"><span class="cls_002">TOELICHTING: </span><span class="cls_003">De samenvatting hiernaast is</span></div>
<div style="position:absolute;left:335.13px;top:691.65px" class="cls_002"><span class="cls_002">SAMENVATTING (LEERUITKOMST IN CONTEXT)  </span><span class="cls_003">Herschrijf hier s.m.a.r.t. de leeruitkomst naar jouw specifieke situatie</span></div>
<div style="position:absolute;left:67.00px;top:706.96px" class="cls_003"><span class="cls_003">de leeruitkomst vertaald naar </span><span class="cls_002">jouw </span><span class="cls_003">specifieke</span></div>
<div style="position:absolute;left:66.99px;top:721.36px" class="cls_003"><span class="cls_003">project en situatie. Je moet dus de algemene</span></div>
<div style="position:absolute;left:66.99px;top:735.76px" class="cls_003"><span class="cls_003">woorden en begrippen specificeren: Wie, wat</span></div>
<div style="position:absolute;left:66.99px;top:750.16px" class="cls_003"><span class="cls_003">waar en hoe.</span></div>
</div>


