<%= form_with(url: login_path, method: "post") do |form| %>
  <h2>Request link to login</h2>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, placeholder: "you@student.nhlstenden.com" %>
  </div>

  <div>
    <%= form.submit "Login" %>
  </div>
<% end %>
