<%= form_with(url: delete_user_path, method: "delete") do |form| %>
  <h2>Type your email to delete your account</h2>
  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit "Yes, delete my account" %>
  </div>
<% end %>
