
<% unless users.empty? %>
  <% users.each do |user| %>
  <%= link_to user_path(user.slug) do %>
  <div class="search_result">
    <% if user.role == 1 %>Teacher | <% else %> Student | <% end %>
    <%=  highlight(user.name, params[:name_search])  %>
    <span class="search_description">
    - <%= user.bio %>
    </span>
  </div>
    <% end %>
  <% end %>
<% else %>
<br>
  No people found, sorry, maybe you want to add <%= link_to "yourself", new_user_path %>!
<% end %>

