/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 *, *:before, *:after {
    box-sizing: border-box;
}



.lighter {
  font-weight:200;
}

body{
    width: 100%;
    margin: 0;
    font-size: 1.2em;
    font-family: "Helvetica";
}

address, blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-top: 0;
    font-style: normal;
    font-size: 1.2em;
}

input{
    width:100%;
}


input[type=checkbox]{
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #eee;
    font-size:1.2em;
}

textarea {
    padding: 20px;
    margin: 10px 0;
    border: 2px solid #eee;
    font-size:0.8em;
    width:100%;
    font-family: "Helvetica";
    color:rgb(65, 65, 65)
}


button{
    padding:20px;
    border-radius: 10px;
    background-color:white;
    font-size:0.9em;
    border: 2px solid #eee;
    margin:10px 10px 10px 0px;
}

.errors{
    background-color:white;
    color:red;
    font-size:0.7em;
    padding:10px;
    border: 2px solid #eee;
}


.register_link{
    color:orange!important;
}

.profile{
    margin-top:20px;
    border-radius: 5px;
    border: 2px solid #eee;
    padding:20px;
}

.profile p{
    line-height: 1.15;
}

.search_description{
    font-size:small;
    color:rgb(237, 237, 237);
}

.icon {
    height:48px;
    width:48px;
    margin:5px;
}

.contact_info{
    float:right;
}

/* The switch - the box around the slider */
.switch {
position: relative;
display: inline-block;
width: 60px;
height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
opacity: 0;
width: 0;
height: 0;
}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}

input:checked + .slider {
background-color: #2196F3;
}

input:focus + .slider {
box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
border-radius: 34px;
}

.slider.round:before {
border-radius: 50%;
}


.form {
    background-color: rgb(250, 250, 250);
    border:2px solid #ccc;
    border-radius: 5px;
    padding:10px;
    font-size:0.9em;
}

.danger-zone{
    background-color: rgb(255, 203, 203);
    padding:10px;
    margin:10px;
}


/* HIDE RADIO */
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #e33;
}

label{
  padding:10px;
}

label img{
  width: 150px;
}


.tooltip {
    position: relative;
    display: inline-block;
    margin-bottom:10px;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: left;
    padding: 10px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width:500px;
    line-height:1.5;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .red{
    background-color:#FDA000!important;
  }

  .blue{
    background-color:#5669FF!important;
  }

  .green{
    background-color:#23AE5F!important;
  }

  .orange{
    background-color:#FF6E00!important;
  }

  .black{
    background-color:#000!important;
  }

  .pink{
    background-color:#ff967d!important;
  }

  .aqua{
    background-color:#4DCED0!important;
  }

  .darkred{
    background-color:#FF3840!important;
  }

.top_bar{
  background:black;
  padding:15px;
  color:white;
}

.full_black_bar{
  width:100%;
  float:left;
  padding-left:10px;
  background:black;
  color:white;
}

.full_black_bar h3{
  font-size:20px;
}

.top_bar h1{
  font-size:30px;
}

.canvas{
  padding:10px;
  width:100%;
}

.top_canvas{
  width:29%;
  float:left;
}

.top_canvas h1{
  font-size:26px;
  font-weight:bold;
  text-transform: uppercase;
}

.top_canvas h2{
  font-size:1.0rem;
}

#comp_bar{
  width:100%;
}

#comp_select{
  background:#000000;
  color:white;
  padding:20px;
  border:2px solid #ffffff;
  border-radius:10px;
  margin:10px;
  font-size:1.6rem;
}

#lvl_select{
  background:#ff967d;
  color:white;
  padding:20px;
  border:2px solid #ffffff;
  border-radius:10px;
  margin:10px;
  font-size:1.6rem;
}

#ec_select{
  background:black;
  color:white;
  padding:20px;
  border:2px solid #ffffff;
  border-radius:10px;
  margin:10px;
  font-size:1.6rem;
}


#canvas_save {
  padding:20px;
  border-radius: 10px;
  background-color:white;
  font-size:0.9em;
  border: 2px solid #eee;
  margin:10px 10px 10px 0px;
  width:150px;
  cursor:pointer;
  position: sticky;
  top: 0;
}

#canvas_share{
  padding:10px;
  border-radius: 10px;
  background-color:white;
  font-size:0.9em;
  border: 2px solid #eee;
  width:50px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}

#canvas_print{
  padding:10px;
  border-radius: 10px;
  background-color:white;
  font-size:0.9em;
  border: 2px solid #eee;
  width:50px;
  text-align:center;
  display:inline-block;
  cursor:pointer;
}

#canvas_save:hover {
  background:#23AE5F;
  color:white;
  font-weight:bold;
}

#canvas_share img{
  width:24px;
}

#canvas_share:hover {
  background:#5669FF;
}

#canvas_content {
  width:100%;
  float:left;
  margin-top:20px;
}

#comp_title{
  display:inline-block;
}

#comp_lvl{
  display:inline-block;
}

#comp_ec{
  display:inline-block;
}

.form_box {
  width:50%;
  float:left;
  border: 2px solid black;
  font-size:1.0rem;
  min-height:250px;
  line-height:1.6;
  padding:10px;
}

.form_box h2{
  margin:0;
  font-size:1.2rem;
}


.why{
  width:30%;
  height:200px;
  min-height:200px;
  border:0;
}

.why textarea{
  height:110px;
}

.outcome {
  width:70%;
  min-height:200px;
}


.buttons{
  display:inline-block;
  float:right;
}

.tools {
  float:left;
  width:69%;
}

.build{
  border-bottom:3px solid black;
}

#overlay{
  width:100vw;
  height:100vh;
  background:rgb(0, 0, 0);
  position:absolute;
  top:0;
  z-index:1;
  display:none;
}

.send_form{
  padding:20px;
  margin:0 auto;
  background:white;
  color:#000000;
  width:30%;
  margin-top:150px;
  position:relative;
  border: 4px solid #FF6E00;
  outline: 5px solid #5669FF;
}


.send_form h1{
  font-size:2.6rem;
}

.send_form input{
  padding:10px;
  border:2px solid black;
}

.close_button{
  color:rgb(0, 0, 0);
  font-size:2.2rem;
  font-weight:bold;
  right:20px;
  top:20px;
  position:absolute;
  cursor:pointer;
}

.alert{
  width:100%;
  padding:20px;
  background:#23AE5F;
  color:white;
  text-align:center;
  font-size:1.6rem;
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: all 0.5s ease-out;
}

@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding:0px;
        visibility:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        padding:0px;
        visibility:hidden;
    }
}

.canvas_form{
  width:50%;
  margin:0 auto;
}

.canvas_form input{
  padding:20px;
  font-size:1.2rem;
  margin:10px;
}

#canvas_form_submit{
  padding:20px;
  border-radius: 10px;
  background-color:white;
  font-size:0.9em;
  border: 2px solid #eee;
  margin:10px 10px 10px 0px;
}

#canvas_form_submit:hover{
 background-color:#23AE5F;
 color:white;
 cursor:pointer;
}

@media print {
   .noprint {
      visibility: hidden;
   }
}
