/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*:before,
*:after {
  box-sizing: border-box;
}



.lighter {
  font-weight: 200;
}

body {
  width: 100%;
  margin: 0;
  font-size: 1.2em;
  font-family: "Helvetica";
}

address,
blockquote,
dl,
figure,
form,
ol,
p,
pre,
table,
ul {
  margin-top: 0;
  font-style: normal;
  font-size: 1.2em;
}

input {
  width: 100%;
}


input[type=checkbox] {
  padding: 20px;
  margin: 10px 0;
  border: 2px solid #eee;
  font-size: 1.2em;
}


button {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  border: 2px solid #eee;
  margin: 10px 10px 10px 0px;
}

.button {
  background: white;
  color: #393939;
  padding: 1rem;
  border: 1px solid black;
  text-decoration: none;
  display: block;
}

.button:hover {
  background-color: #5669FF;
  color: white;
}

.orange--hover:hover {
  background-color: #FF6E00;
  color: white;
}

.black--hover:hover {
  background-color: #000;
  color: white;
}

.errors {
  background-color: white;
  color: red;
  font-size: 0.7em;
  padding: 10px;
  border: 2px solid #eee;
}


.main--container {
  margin: 0 auto;
  width: 45rem;
  padding: 1rem;

}


.red {
  background-color: #FDA000 !important;
}

.blue {
  background-color: #5669FF !important;
}

.green {
  background-color: #23AE5F !important;
}

.orange {
  background-color: #FF6E00 !important;
}

.black {
  background-color: #000 !important;
}

.pink {
  background-color: #ff967d !important;
}

.aqua {
  background-color: #4DCED0 !important;
}

.darkred {
  background-color: #FF3840 !important;
}


#comp_bar {
  width: 100%;
}

#comp_select {
  background: #000000;
  color: white;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.6rem;
}

#lvl_select {
  background: #ff967d;
  color: white;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.6rem;
}

#ec_select {
  background: black;
  color: white;
  padding: 20px;
  border: 2px solid #ffffff;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.6rem;
}


#canvas_save {
  padding: 1rem;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  margin: 10px 10px 10px 0px;
  width: 150px;
  cursor: pointer;
  position: sticky;
  top: 0;
  color: black;
}

#canvas_share {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  border: 2px solid #eee;
  width: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  margin-right: 5px;
}

#canvas_print {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  border: 2px solid #eee;
  width: 50px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
}

#canvas_save:hover {
  background: #23AE5F;
  color: white;
  font-weight: bold;
}

#canvas_print:hover {
  background: orange;
  color: white;
  font-weight: bold;
}

#canvas_share img {
  width: 24px;
}

#canvas_share:hover {
  background: #5669FF;
}


#comp_title {
  display: inline-block;
}

#comp_lvl {
  display: inline-block;
}

#comp_ec {
  display: inline-block;
}

.form_box {
  width: 50%;
  float: left;
  border: 2px solid black;
  font-size: 1.0rem;
  min-height: 250px;
  line-height: 1.6;
  padding: 10px;
}

.form_box h2 {
  margin: 0;
  font-size: 1.2rem;
}


.why {
  width: 30%;
  height: 200px;
  min-height: 200px;
  border: 0;
}

.why textarea {
  min-height: 140px !important;
}

.outcome {
  width: 70%;
  min-height: 200px;
}


.buttons {
  display: flex;
  float: right;
  flex-direction: row;
  align-content: center;
  align-items: center;
}

.tools {
  width: 100%;
}

.build {
  border-bottom: 3px solid black;
}

#overlay {
  width: 100vw;
  height: 100vh;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 0;
  z-index: 1;
  display: none;
}

.send_form {
  padding: 20px;
  margin: 0 auto;
  background: white;
  color: #000000;
  width: 30%;
  margin-top: 150px;
  position: relative;
  border: 4px solid #FF6E00;
  outline: 5px solid #5669FF;
}


.send_form h1 {
  font-size: 2.6rem;
}

.send_form input {
  padding: 10px;
  border: 2px solid black;
}

.close_button {
  color: rgb(0, 0, 0);
  font-size: 2.2rem;
  font-weight: bold;
  right: 20px;
  top: 20px;
  position: absolute;
  cursor: pointer;
}

.alert {
  width: 100%;
  padding: 20px;
  background: #23AE5F;
  color: white;
  text-align: center;
  font-size: 1.6rem;
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  /* Firefox */
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  /* Safari and Chrome */
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  /* Opera */
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  transition: all 0.5s ease-out;
}

@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    padding: 0px;
    visibility: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    padding: 0px;
    visibility: hidden;
  }
}

.canvas_form {
  width: 50%;
  margin: 0 auto;
}

.canvas_form input {
  padding: 20px;
  font-size: 1.2rem;
  margin: 10px;
}

#canvas_form_submit {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  font-size: 0.9em;
  border: 2px solid #eee;
  margin: 10px 10px 10px 0px;
}

#canvas_form_submit:hover {
  background-color: #23AE5F;
  color: white;
  cursor: pointer;
}

.form_box textarea {
  min-height: 300px;
}


@media print {
  .noprint {
    visibility: hidden;
  }
}


.canvas--container {
  border: 2px solid black;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  width: 98%;
}

.canvas--container textarea {
  max-width: 100%;
  max-height: 10rem;
  min-height: 10rem;
  min-width: 100%;
  margin-top: 10px;
  font-size: 1.2rem;
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.canvas--container header {
  background: black;
  padding: 0.6rem;
  color: white;
  width: 100%;
}

.large header {
  background: black;
  padding: 2.2rem;
  color: white;
  width: 100%;
  height: 12rem;
}



.canvas--container header h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.3rem;
}

.main--container header {
  background: black;
  padding: 0.6rem;
  color: white;
  width: 100%;
  height: 12rem;

}

h1 a {
  text-decoration: none;
  color: white;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tagline {
  font-weight: 200;
  font-size: 2.3rem;
}

.reason--why {
  padding: 1rem;
  width: 25%;
  border: 2px solid black;
}

.explanation {
  padding: 1rem;
  width: 33.3%;
  border: 2px solid black;
  background: #B4B5B4;
  line-height: 1.4rem;
}

.learning--outcome {
  padding: 1rem;
  width: 75%;
  border: 2px solid black;
}


.learning--goals {
  padding: 1rem;
  width: 33.3%;
  border: 2px solid black;
}

.feedback {
  padding: 1rem;
  width: 33.4%;
  border: 2px solid black;
}

.heading--learning {
  padding: 0.5rem;
  background: black;
  color: white;
  width: 100%;
}

.inspiration {
  padding: 1rem;
  width: 50%;
  border: 2px solid black;
}

.summary {
  padding: 1rem;
  width: 66.7%;
  border: 2px solid black;
}

table {
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

table td,
table th {
  text-align: center;
  padding: 8px;
}

table td {
  border-right: 1px solid #f8f8f8;
}

table thead th {
  color: #ffffff;
  background: #4FC3A1;
}


table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

table tr:nth-child(even) {
  background: #F8F8F8;
}